@page "/fetchdata"
@inject AdminClient AdminClient

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>
                    <DemoButton Primary="user.Active" OnClick="() => Console.WriteLine(true)">
                        @user.Active.ToString()
                    </DemoButton>
                </td>
                <td>
                    <DemoButton Primary="user.Admin">
                        @user.Admin.ToString()
                    </DemoButton>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IGetUsersStartingWith_Users[]? _users;

    protected override async Task OnInitializedAsync()
    {
        var result = await AdminClient.GetUsersStartingWith.ExecuteAsync("S");
        _users = result.Data?.Users.ToArray();
    }

}