@page "/fetchdata"
@inject AdminClient AdminClient

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>
                    <DemoButton Primary="user.Active" OnClick="() => Console.WriteLine(true)">
                        @user.Active.ToString()
                    </DemoButton>
                </td>
                <td>
                    <DemoButton Primary="user.Admin" OnClick="() => ToggleAdmin(user.Id, user.Admin)">
                        @user.Admin.ToString()
                    </DemoButton>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IGetUsersStartingWith_Users[]? _users;

    protected override async Task OnInitializedAsync()
    {
        var result = await AdminClient.GetUsersStartingWith.ExecuteAsync("S");
        _users = result.Data?.Users.ToArray();
    }

    private async Task ToggleAdmin(int userId, bool currentAdmin)
    {
        var result = await AdminClient.SetUserAdmin.ExecuteAsync(userId, !currentAdmin);
        if (result.Data?.UserAdminSet.User is null) return;
        var index = Array.FindIndex(_users!, x => x.Id == userId);
        var curUser = _users![index];
        _users[index] = new GetUsersStartingWith_Users_User(curUser.Id, curUser.FirstName, curUser.Email, 
            curUser.Active, result.Data.UserAdminSet.User.Admin);
    }

}